/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600&family=Roboto:wght@400;700;900&display=swap');

/* Custom propreties */
:root {
    --dark-text-color: rgba(0, 0, 0, 100%);
    --light-text-color: rgba(255, 255, 255, 100%);
    --text-bg-color: rgba(255, 255, 255, 80%);
    --filter-color-hero: rgba(205, 255, 252, 31%);;
    --filter-color-secondary: rgba(232, 250, 255, 96%);
    --button-color: rgba(47, 150, 255, 100%);
    --hover-color: #fff;
    --font-family: 'Asap', sans-serif;
    --font-size-s: 1.6rem;
    --font-size-m: 2.4rem;
    --font-size-l: 3rem;
    --font-size-xl: 4rem;
    --logo-size: 6rem;
    --icon-size: 3rem;
}

/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

.svg {
    width: var(--logo-size);
}

.icon {
    width: var(--icon-size);
}

.bg-hero {
    background: var(--filter-color-hero) url(../images/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: bottom center;
}
