/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

/* Custom propreties */
:root {
    --dark-text-color: rgb(0, 0, 0);
    --light-text-color: rgba(255, 255, 255, 1);
    --border-color: rgba(0, 0, 0, .3);
    --text-bg-color: rgba(255, 255, 255, .92);
    --filter-color-hero: rgba(155, 220, 224, 0.534);
    --filter-color-secondary: rgba(200, 248, 255, .99);
    --filter-color-other: rgba(200, 255, 252, 0.8);
    --button-color: rgb(0, 131, 131);
    --font-family: 'Asap', sans-serif;
    --font-size-s: 1.6rem;
    --font-size-m: 2rem;
    --font-size-l: 3rem;
    --font-size-xl: 4rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --logo-size: 7rem;
    --icon-size: 3rem;
    --padding-right: 25%; /* 25% of container is equivalent to 20% of body. Making the left and right white space symmetrical */
    --padding-header: 1.2rem var(--padding-right) 1.2rem 4rem;
    --padding-main-title: 5rem calc(var(--padding-right) + 20rem) 5rem 3rem; /*adding some extra padding to the right*/
    --padding-content: 5rem calc(var(--padding-right) + 15rem) 5rem 5rem; /*adding some extra padding to the right*/
    --padding-title: 2rem var(--padding-right) 2rem 3rem;
    --padding-sm-container: 2rem var(--padding-right) 2rem 2rem;
    --margin-content: 4rem 0;
    --margin-title: 2rem 0;
    --shadow-color: rgba(165, 165, 165, 0.2);
    --margin-left: 20%;
    
}

/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: var(--font-weight-regular);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    color: var(--dark-text-color);
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

.svg {
    width: var(--logo-size);
    color: var(--dark-text-color);
}

.icon {
    width: var(--icon-size);
    color: var(--dark-text-color);
}

.hero-bg {
    background: var(--filter-color-hero) url(../images/bg1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom center;
    background-blend-mode: overlay;
    overflow: hidden; /* prevents the text-bg::after element from causing side scroll  */
}

.secondary-bg {
    background: var(--filter-color-secondary) url(../images/bg2.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-blend-mode: lighten;
    overflow: hidden; /* prevents the text-bg::after element from causing side scroll  */
}

.activitate-bg {
    background: var(--filter-color-other) url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    overflow: hidden; /* prevents the text-bg::after element from causing side scroll  */
}

.container {
    margin-left: var(--margin-left);
    position: relative;
    width: calc(100% - var(--margin-left));
}

.smaller-container {
    padding: var(--padding-sm-container);
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.header {
    top: 0;
    position: fixed;
    width: inherit;
    z-index: 1;
}

.hide-desktop {
    display: none;
}

.nav-links li {
    list-style: none;
    padding: 0 1rem;
    font-size: var(--font-size-s);
}

.nav-links li:hover {
    transform: scale(1.1);
    color: var(--button-color);
    transition: color .05s ease, transform .05s;
}

.text-bg {
    position: relative;
    width: 100%;
    padding: var(--padding-header);
    background-color: var(--text-bg-color);
    border-radius: 1.5rem 0 0 1.5rem;
    box-shadow: 0 .2rem .2em .2rem var(--shadow-color);
}

.text-bg::after { /* vertical border on the text background */
    position: absolute;
    display: inline-block;
    content: '';
    top: 50%;
    right: 25%; /* 25% of container is equivalent to 20% of body. Making the left and right white space symmetrical */
    transform: translateY(-50%);
    background-color: var(--border-color);
    height: 70%;
    width: 1px;
}

.main-section {
    margin-top: 15%;
    width: 100%;
}

.main-title {
    position: relative;
    margin: var(--margin-content);
}

.motto {
    font-size: var(--font-size-xl);
    line-height: 6rem;
    padding: var(--padding-main-title);
}

.title {
    font-size: var(--font-size-l);
    padding: var(--padding-title);
    margin: var(--margin-title);
}

.side-text {
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.content {
    font-size: var(--font-size-m);
    line-height: 3rem;
    padding: var(--padding-content);
    margin: var(--margin-content);
}

.certif-img {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.map {
    width: 100%;
    padding: 2rem;
}

.act-section {
    margin-bottom: 20rem;
    height: 100vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20rem 0;
}

.btn {
    color: var(--light-text-color);
    background-color: var(--button-color);
    font-size: var(--font-size-l);
    padding: 2rem 8rem;
    border-radius: 2rem;
    box-shadow: 0 .2rem .2em .2rem rgba(112, 112, 112, 0.5);
}

.list {
    font-size: var(--font-size-s);
    list-style-type: disc;
    line-height: 4rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

footer.text-bg::before {
    border-radius: 1.5rem 0 0 0; /* makes bottom left corner of nav-bar 90degress not rounded*/
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33%;
    padding: 2rem 0;
}

.contact-details > * {
    margin: 0 1rem;
}

.copyright {
    font-size: 1rem;
}



