/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600&family=Roboto:wght@400;700;900&display=swap');

/* Custom propreties */
:root {
    --dark-text-color: rgba(0, 0, 0, 1);
    --light-text-color: rgba(255, 255, 255, 1);
    --text-bg-color: rgba(255, 255, 255, .8);
    --filter-color-hero: rgba(109, 166, 170, 0.534);
    --filter-color-secondary: rgba(232, 250, 255, .96);
    --button-color: rgba(47, 150, 255, 1);
    --hover-color: #fff;
    --font-family: 'Asap', sans-serif;
    --font-size-s: 1.6rem;
    --font-size-m: 2rem;
    --font-size-l: 4rem;
    --font-size-xl: 5rem;
    --logo-size: 7rem;
    --icon-size: 3rem;
    --padding-content-text: 5rem 8rem 5rem 5rem;
    --margin-content-text: 4rem 0;
}

/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 0 1rem;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
}

.svg {
    width: var(--logo-size);
}

.icon {
    width: var(--icon-size);
}

.hero-bg {
    background: var(--filter-color-hero) url(../images/bg1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom center;
    background-blend-mode: overlay;
    overflow: hidden; /*  prevents the text-bg::after element from causing side scroll  */
}

.secondary-bg {
    background: var(--filter-color-secondary) url(../images/bg2.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-blend-mode: overlay;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.header {
    /* position: fixed; */
    justify-content: space-between;
    padding: 1.2rem 4rem;
    width: 100%;
}

.hide-desktop {
    display: none;
}

.header,
.nav-bar,
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 2rem;
    font-size: var(--font-size-s);
}

.text-bg {
    position: relative;
    z-index: 0;
}

.text-bg::before { /* this is the text background */
    position: absolute;
    content: '';
    background-color: var(--text-bg-color);
    height: 100%;
    width: 80vw;
    left: 0;
    top: 0;
    border-radius: 1.5rem 0 0 1.5rem;
    z-index: -1;
    filter: blur(.1rem);
    box-shadow: 0 .2rem .2em .2rem rgba(165, 165, 165, 0.2);
}

.header.text-bg::before {  /* makes top left corner of nav-bar 90degress not rounded*/
    border-radius: 0 0 0 1.5rem;
}

.hero-section {
    margin: 15% 0 0 0;
}

.main-title {
    font-size: var(--font-size-l);
    line-height: 6rem;
    padding: var(--padding-content-text);
}

.side-text {
    font-size: var(--font-size-xl);
}

.content {
    font-size: var(--font-size-m);
    line-height: 3rem;
    padding: var(--padding-content-text);
    margin: var(--margin-content-text)
}




